<!DOCTYPE html>
<html>
<head>
  <title>Bird Information Confirmation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1>Your Bird was Created</h1>
    <p>The species is: <%= species %></p>
    <p>The nickname of the bird is: <%= nickname %></p>
    <p>The status is: <%= status %></p>
  </div>
</body>
</html>
